.infos-contacts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". .adress .contacts .opening-time ."
    ". . .contacts . .";
    justify-items: center;
    align-items: center;
    justify-content: stretch;
    align-content: center;
}

