
.container{  
    
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    margin-top: 5px;
    margin-bottom: 25px;
    
}



h4{
    color: #B38B59;
    font-weight: 500;
    font-size: 16px;
    
}

.footer-col ul li{
    list-style: none;
    text-decoration: none;
    font-size:14px;
    font-weight: 300;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 8px;
}

.footer-col ul li a{
    font-size:14px;
    color: #FFF;
    text-decoration: none;
    list-style: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color:#B38B59;
    text-decoration: underline;
    padding-left: 6px;
}

.socials{
    font-size: 14px;
    list-style: none;
}


/*responsive*/
@media(max-width: 765px) {
    .footer-col{
        width:50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 570px) {
    .footer-col{
        width:100%;
        margin-bottom: 30px;
    }
}
