.container_f{  
    max-width: 1600px;   
    margin: auto;
    color: #fff;
}

ul {
    list-style: none;
}

.row_f{
    display: flex;
    flex-wrap: wrap;
}

.col_footer{
    width: 33%;
    padding: 0 23px;
    text-align: center;
}

.col_footer h4{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    color: #B38B59;
}

.col_footer ul li:not(:last-child){
    margin-bottom: 10px;
}

.col_footer ul li a {
    font-size: 16px;

    font-weight: 400;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}

.col_footer ul li a:hover{
    color:#B38B59;
    padding-left: 8px;
}

.col_footer .list-footer-socials a{
    display: inline-block;
    margin-right: 2px;
    align-items: center;
    font-size: 16px;
}

.col_footer .list-footer-socials a img{ 
    margin-right: 5px;
}

.col_footer .list-footer a img{ 
    margin-right: 5px;
}


/* responsive footer */

@media(max-width: 810px) {
.col_footer {
    width: 66%;
    margin-bottom: 38px;
    text-align: center;
    }
}

@media(max-width: 570px) {
.col_footer {
    width: 100%;
    text-align: center;
    }
}
