/* variables for my color palette */

:root {
  --BlacK:#000;
  --DarkGray: #3B3B3B;
  --Gold:#B38B59;
  --White:#FFF;

  --font-logo: 'Indie Flower', cursive;
  --font-main: 'Montserrat Alternates' , sans-serif;

  --font-weight-Montserrat: Extralight200, ExtraLight 200 Italic, Light 300, Light 300 Italic, Regular 400, Regular 400 Italic, Medium 500, SemiBold 600;
}

/*  Navbar -> Navigation */

.navigation-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

nav ul { 
  position:fixed;
  background-color: #000;
  opacity: .80;
  height: 13vh;
  width: 100vw;
  justify-content: center;

  gap: 25px;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0.5rem;
  cursor: pointer;
}


nav ul li a {
  text-decoration: none;
  list-style-type: none;
  color: #FFF;
  font-weight: 500;
  font-size: 15px;
}

nav ul li a:hover{
  color: #B38B59;
}

/* sub-list */

.nav-menu-item{
  box-sizing: border-box;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  
}

.nav-menu-sublist{
  display: none;
  text-transform: none;
  left:0;
  width: 100%;
  

  position: absolute;
  background-color: #3B3B3B;
  
}

li:hover > ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 5em;
  margin: 0;
  padding: 1rem 0 0;
  gap: 1.25rem;
  position: absolute;
  text-align: left;

  
}



/* logo Homepage -> Auberge du tilleul */

.logo img {
  height: 11vh;
  align-items: center;
  margin-right: 4em ;
  margin-top: 0.2em;
}




