/* variables for my color palette */

:root {
--BlacK:#000;
--DarkGray: #3B3B3B;
--Gold:#B38B59;
--White:#FFF;
  
--font-logo: 'Indie Flower', cursive;
--font-main: 'Montserrat Alternates' , sans-serif;
  
--font-weight-Montserrat: Extralight200, ExtraLight 200 Italic, Light 300, Light 300 Italic, Regular 400, Regular 400 Italic, Medium 500, SemiBold 600;
}


/* Section - WelcomeCarrosel */

.welcome-carrosel {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #fff;
    align-items: center;
    height: 75vh;
    
}

.slide {
    display: none;
    transition-duration: 1s ease;
    
}

.slideActive {
    transition-duration: 1s;
    
}

.images-welcome {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 50% 50%;
    height: 81vh; 
    position: relative;

}

.right-arrow{
    position: absolute;
    top:10%;
    right: 32px;
    font-size:2rem;
    color:#000;
    z-index:10;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border:none;
}

.left-arrow{
    position: absolute;
    top:10%;
    left: 32px;
    font-size:2rem;
    color:#000;
    z-index:10;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border:none;
}

.subtitles{
    height: 5vh;
    
}

figcaption {
    align-items: center;
    color: #B38B59;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}




/* Style Section - Presentation-halls */

.presentation-halls{
    margin-top:4rem;
    padding: 0;
    background-color: #3B3B3B;
}

.titleVisitHalls  {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #B38B59;
    font-family: var(--font-SameWebsite);
    font-size: 2em;
    font-weight: 300;
}

/* Cards */

.Container_Cards {  
    margin-bottom: 20px;
}

.CardsHalls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.Card{
    width: 100%;
    height:100%;
    position: relative;
    
      
}

.Card img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 50%;
    border: 8px solid #fff;
    position: relative;
    cursor: pointer;
    
}

.Card h2{
    background-color: #000 opacity(0.3);
    position: absolute;
    top:80%;
    left:25%;
    color: #FFF;
    font-size: 2em;
    opacity: 1;
}

.summaryCards {
    padding: 15px 50px;
    text-align: center;
    color: #FFF;
    font-size: 1.2em;
}

.reservations {
    color: #B38B59;
    margin-bottom: 2.5rem;
}

.Monet-hall{
    filter: grayscale(1);
    transition: .3s;
}

.Monet-hall:hover{
    filter:none;
}

.Picasso-hall{
    filter: grayscale(1);
    transition: .3s;
}

.Picasso-hall:hover{
    filter:none;
}

.Gauguin-hall{
    filter: grayscale(1);
    transition: .3s;
}

.Gauguin-hall:hover{
    filter:none;
}

.reservations {
    margin-top: 1rem;
}

.reservations a {
    width: 200px;
    background: #fff;
    color: #B38B59;
    text-decoration: none;
    padding: 0.8rem;
    box-shadow: 0 5px 25px #B38B59(0 0 0/ 20% );
    border: 2px solid #B38B59;
    border-radius: 9px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500 ;
}

/* Section About Auberge */

.AboutAuberge{
    background-color: #fff;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    display: grid;
}

.Image_team img{
    margin-top: 3rem;
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 50%;
    border: 10px solid #B38B59;
    position: relative;
    cursor: pointer;
    
}

.Image_team {
    position: relative;
    color: #FFF;
    font-size: 3em;
    margin-bottom: 5rem;
}

.Text_About h3{
    color: #B38B59;
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 1rem;
}

.Text_About{
    margin-top: 3rem;
    padding: 3rem 5rem;
    color: #000;
    text-align: left;
    font-size: 1.3em;
}

.ContactezNous {
    margin-top: 2rem;
}

.ContactezNous a {
    width: 200px;
    background: #3B3B3B;
    color: #fff;
    text-decoration: none;
    padding: 0.8rem;
    box-shadow: 0 5px 25px rgb(0 0 0/ 20% );
    border: 2px solid #B38B59;
    border-radius: 9px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.8em;
}


/* About team - Responsive */


@media(max-width: 1199px) {
    .AboutAuberge{
        display: flex;
        flex-direction: column;
    }

    .Text_About{
        margin-top: 0rem;
        padding: 1rem 1rem;
        color: #000;
        text-align: left;
        font-size: 1em;
    }
}    

/*section -Feedbacks */

.customers-feedback{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.customer-opinion{
    padding: 3rem;
}

.titleOpinion {
    font-size: 1.3em;
    margin-bottom: 1rem;
    color: #B38B59;
}

.client{
    margin-top: 1rem;
    font-weight: 500;
}

/* Responsive -Feedbacks */

@media(max-width: 990px) {
    .customers-feedback{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
}    


/* images recommendation */

.recommendation{
    display: flex;
    flex-direction: row;
    width:40vw;
    align-items:center;
}

.ZankYou{
    width:50%;
}

.recommendation img{
    width:100%;   
}

.tripAdvisor{
    width: 50%;
}


/* Carrosel Brands */

.Carrosel_Brands{
    margin-top: 2.5rem;
}


.brands h5{
    font-size: 1.3em;
    color: #B38B59;
    text-decoration: underline overline #B38B59 1px;
    font-weight: 600;
    text-transform: uppercase;
}

.brands img{
    margin-top:2rem;
    width: 250px;
}

/* style - Responsive -map */

.responsive-map-container {
    position: relative;
    padding-bottom: 30%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
  
.responsive-map-container iframe,   
.responsive-map-container object,  
.responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.GoldStroke {
    color: #B38B59;
    width: 95vw;
}