/* variables for my color palette */

:root {
--BlacK:#000;
--DarkGray: #3B3B3B;
--Gold:#B38B59;
--White:#FFF;
  
--font-logo: 'Indie Flower', cursive;
--font-main: 'Montserrat Alternates' , sans-serif;
  
--font-weight-Montserrat: Extralight200, ExtraLight 200 Italic, Light 300, Light 300 Italic, Regular 400, Regular 400 Italic, Medium 500, SemiBold 600;
}


/* Carrosel-Welcome */

.welcome-carrosel {
    
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.imgs-carrosel {
    
    margin: 0;
    object-fit: cover;
    height: 80vh;
    
}

.img-hall {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.subtitles{
    height: 5vh;
}

figcaption {
    align-items: center;
    color: #B38B59;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

.slides-radio{
    
}

input {
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

/* presentation-halls */
h1 {
    text-align: center;
    color: #3B3B3B;
}

h2 {
    padding-top: 1em;
    text-align: center;
    color: #B38B59;
    font-weight: 200;
}

.Cards {
    display: grid;
    grid-template-columns: auto auto auto;
    
}

