.CuisineApresentation{
    position: relative;
    min-height: 95vh;
    background: url(/public/images/Img-NotreCuisine/cuisineWelcome.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuisine_tittle{
    color: #fff;
    font-size: 4em;
    padding: 4rem;
    text-shadow: 0 5px 25px rgb(0 0 0/ 20%);
}

.cuisine_introduction{
    background-color: #000 ;
    opacity: .6;
    padding: 0 10px;
    color: #B38B59;
    font-weight: 600;
    font-size: 1.4em;
    text-align: center;
}

.notreCuisine_Album{
    margin-top: 1rem;
    background-color: #B38B59;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 90%;
   
    
}