/* reset */

* {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, p, a, footer, .f.form, ul, li,
header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-family:var(--font-main);
}

/* variables for my color palette */

:root {
  --BlacK:#000;
  --DarkGray: #3B3B3B;
  --Gold:#B38B59;
  --White:#FFF;

  --font-logo: 'Indie Flower', cursive;
  --font-main: 'Montserrat Alternates' , sans-serif;

  --font-weight-Montserrat: Extralight200, ExtraLight 200 Italic, Light 300, Light 300 Italic, Regular 400, Regular 400 Italic, Medium 500, SemiBold 600;
}

/* All-Website */

header {  
  position: static;
  background-color: #000;
  height: 13vh; 
  text-align: center;
}


main {
  margin:0;
  padding:0;
  left:0;
  display: flex;
  flex-direction: column;
  text-align: center;
}


footer{
  height: 35vh;
  margin:0;
  padding: 0;
  color:#FFF;
  background-color: #000;   
}




